@charset "UTF-8";

/* Typical Device Breakpoints
--------------------------------

Small Screen: to 520px
Tablet: of 520px to 700px
Desktop: of 700px to 900px
Large screen: above 900px
*/

@media screen and (min-width: 520px) and (max-width:700px){
    body { /* Tablet */
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
        margin: 0px;
        overflow: hidden;
    }
    .login {
        width: 80vw;
        height: 290px;
       
    }
    .img {
        float: left;
        width: 30%;
        height: 100%;
    }
    .form {
        float: right;
        width: 70%;
    }
     
   
    #apple {
        transform: translate(150px, 10%);
        color: #000000;
    }
    
}
@media screen and (min-width: 700px) { /*  Desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        margin: 0px;
        overflow: hidden;
    }

    .login {
        width: 950px;
        height: 350px;
    }
    .img {
        float: right;
        width: 50%;
        height: 100%;
    }
    .form {
        float: left;
        width: 50%;
    }
    h1 {
        font-size: 2em;
    }
    .text {
        font-size: 1em;
        margin: 10px 0px;
    }
    #apple {
        transform: translate(230px, 10%);
        color: #000000;
    }
   
}
